@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);
}

.app {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0px 10px;
  margin: 10px 0;
}
